<link rel = "stylesheet" type="text/css" href="..css/footer.css">
         <footer>
            <div class="nav">
                <p>Navigācija</p>
            </div>            
            <div class="frm">
                  <form action="" method="post" name="Kontakten Form">
                   <div>
                       <label for="Name"> Name </label>
                       <input type="text" name="Name">
                   </div>
                    <div>
                       <label for="E-mail"> E-mail </label>
                       <input type="text" name="E-mail">
                   </div>
                     <div>
                      <textarea name="Text message"
                      cols="20"
                      rows="5">Write your message</textarea> 
                    </div>                    
                <button>Submit</button>
                </form>
            </div>            
        </footer>
    