<footer>
	<div class="nav">
		<p>Navigācija</p>
	</div>            
	<div class="frm">
		<form action="<?= $contact_form ?>/" method="post" name="Kontakten Form">
			<div>
				<label for="name"> Name </label>
				<input type="text" name="name">
			</div>
			<div>
				<label for="email"> E-mail </label>
				<input type="text" name="email">
			</div>
			<div>
				<textarea name="message"
						  cols="20"
						  rows="5">Write your message</textarea> 
			</div>                    
			<button>Submit</button>
		</form>
	</div>            
</footer>

