<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Virsraksts</title>
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
				filter: none;
				}
			</style>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="css/main.css" media="all"/>
		<link rel="stylesheet" type="text/css" href="css/header.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="css/article.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="css/footer.css" media="all"/>
		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/menu.js"></script>
</head>
	<body>
		<div class="wrapper">
			<? if ($header) require_once('views/'.$header.'.html') ?>

			<? if ($article) require_once('views/'.$article.'.html') ?>
			<? if ($footer) require_once('views/'.$footer.'.html') ?>
		</div>
	</body>
</html>
