<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Virsraksts</title>
		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
				filter: none;
				}
			</style>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="css/header.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="css/article.css" media="all"/>
	</head>
	<body>
        <? require_once('views/'.$header.'.html') ?>
        <? require_once('views/'.$article.'.html') ?>
        <? require_once('views/'.$footer.'.html') ?>
	</body>
</html>
